.thebox-status-outer {
  height: 84px;
}

.thebox-status-table {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

ul.thebox-status-horizontal-list {
  _min-width: 696px;
  list-style: none;
  padding-left: 450px;
  margin-top: -50px;
}

ul.thebox-status-horizontal-list li:nth-child(1) {
  font-weight: 650;
  font-size: 28px;
  margin-left: -10px;
}

ul.thebox-status-horizontal-list li:nth-child(2) {
  font-weight: 650;
  font-size: 22px;
  margin-left: -10px;
  color: #ccc;
}

ul.thebox-status-horizontal-list li:nth-child(3) {
  font-weight: 650;
}

ul.thebox-status-horizontal-list li:nth-child(4) {
  font-weight: 650;
  font-size: 19px;
  margin-left: -10px;
  color: #ccc;
}

ul.thebox-status-horizontal-list li:nth-child(3)::before {
  transform: scaleX(1.5) scaleY(1.5);
  content: "\25CF"; /* We may use \2022 since it is the CSS Code/unicode for a bullet */
  color: greenyellow;
  font-weight: bold;
  font-size: 19px;
  display: inline-block;
  width: 1.2em;
  margin-left: -0.25em;
}
